[submodule "modules/pifsc-container-deployment-scripts"]
	path = modules/pifsc-container-deployment-scripts
	url = git@picgitlab.nmfs.local:centralized-data-tools/pifsc-container-deployment-scripts.git
[submodule "modules/DSC"]
	path = modules/DSC
	url = git@picgitlab.nmfs.local:centralized-data-tools/pifsc-dsc.git
