[submodule "modules/DSC"]
	path = modules/DSC
	url = git@github.com:noaa-pifsc/PIFSC-DSC.git
[submodule "modules/CDS"]
	path = modules/CDS
	url = git@github.com:noaa-pifsc/PIFSC-Container-Deployment-Scripts.git
[submodule "modules/TP"]
	path = modules/TP
	url = git@github.com:noaa-pifsc/PIFSC-Template-Project.git
